<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Ottignies</title>
    <link rel="stylesheet" href="style_principale.css">
</head>
<body>
    <!-- Barre de navigation commune à toute les pages -->
    <nav>
        <!-- Titre du projet -->
        <div class="Titre">
            <h1>Projet prepratoire</h1>
        </div>
        
        <!-- Barre de recherche qui utilise la route "/recherche"  -->
        <div class="gauche">
            <div class="champs-recherche">
                <form action="/recherche" method="get">
                <input type="text" name="recherche" placeholder="Champs de recherche">
                </form>

            </div>
        <!-- Si l'utilisateur est connecté, ce code affiche son username.
             Si l'utilisateur n'est pas connecté, ce code affiche un lien pour s'inscrire ou se connecter  -->
            <div class="Nom">
                <span>
                    <% if (username) { %>
                        <%= username %>
                    <% } else { %>
                        <a href='page_identification.ejs' id="lien-ajout">Se connecter / S'inscrire</a>
                    <% } %>
                </span>
            </div>
        </div>
    </nav>

    <section class="lien-">
        <!-- Si l'utilisation est connecté, ce code lui permet d'ajouter un incident ou de se déconnecter  -->
        <div class="lien-ajout">
            <% if (username) { %>
                <a href="/page_creation.html" id="lien-ajout">Lien pour ajouter</a>
            <% } %>
        </div>
        <div class="lien-déconnection">
            <% if (username) { %>
                <a href="/deconnection.html" id="deconnection">Se déconnecter</a>
            <% } %>
        </div>

    </section>
    <section class="table">

        <table>
            <!-- Affichage d'un tableau contenant tous les accidents rapportés  -->
            <tbody>
                <tr>
                    <td>Nom</td>
                    <td>Date</td>
                    <td>Adresse</td>
                    <td>Description</td>



                </tr>
                <% for (let item of name1) { %>
                <tr>
                    <td><%= item.name %></td>
                    <td><%= item.date %></td>
                    <td><%= item.adresse %></td>
                    <td><%= item.description %></td>
                </tr>
                <% } %>

            </tbody>
        </table>
<!-- Si l'utilisateur est connecté , ce code affiche d'un tableau contenant tous les accidents personnels rapportés par lui même 
 ainsi que la possibilité de les modifier ou les supprimer-->
        <% if (username) { %>
        <% if (info_perso && info_perso.length > 0) { %>
        <p>Vos incidents:</p>
        <table>
            <thead>
                <tr>
                    <td>Date</td>
                    <td>Adresse</td>
                    <td>Description</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <% for (let item of info_perso) { %>
                    <tr>
                        <form action="/modification.ejs" method="post">
                            <input type="hidden" name="id" value="<%= item._id %>">
                            <input type="hidden"  name="date" value="<%= item.date %>">
                            <input type="hidden"  name="adresse" value="<%= item.adresse %>">
                            <input type="hidden"  name="description" value="<%= item.description %>">


                            <td><%= item.date %></td>
                            <td><%= item.adresse %></td>
                            <td><%= item.description %></td>
                            <td>
                                <input type="submit" value="Modifier">
                            </td>
                        </form>
                        <form action="/delete" method="post">
                            <input type="hidden" name="id" value="<%= item._id %>">
                            <td> <input type="submit" value="Supprimer"></td>
                        </form>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <% } else { %>
            <p>Vous n'avez signalé aucun incident</p>
        <% } }%>
    <!-- Si l'utilisateur fait une recherche, tous les inccidents contenant l'objet de la recherche seront affichés dans un tableau-->
        <% if (action) { %>
        <% if (recherche && recherche.length>0) { %>
        <p>Votre recherche:</p>
        <table>
            <thead>
                <tr>
                    <td>Nom</td>
                    <td>Date</td>
                    <td>Adresse</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <% for (let item of recherche) { %>
                    <tr>
                            <td><%= item.name %></td>
                            <td><%= item.date %></td>
                            <td><%= item.adresse %></td>
                            <td><%= item.description %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <%}else {%>
        <p>Aucune donnée trouvée.</p>
        <%}
        %>
        <%}%>
    </section>




</body>
</html>
